.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rs-table-cell-header .rs-table-cell-content {
  font-size: 15px !important;
  font-weight: 600;
}

.rs-modal {
  margin: 20vh auto 0 auto !important;
}

.rs-modal-body {
  margin-top: 0px !important;
}

td .s0 {
  display: none !important;
}

.rs-panel, .rs-container, .rs-row, .rs-col {
  overflow: visible !important;
}
